:root {
    // brand colors
    --c-brand: #fecc02 !important;
    --c-brand-light: #fecc02 !important;
    --c-text-accent: #fecc02 !important;
    --back-to-top-color: #fecc02 !important;
    --back-to-top-color-hover: #fecc02 !important;

    --c-tip: #fecc02 !important;

    --el-color-primary: #fecc02 !important;

    --c-badge-tip: #42b983;
}
